.container {
  position: relative;
  padding: 20px 8px 24px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 8px;
    left: 8px;
    height: 1px;
    background-color: var(--colorLineSecondary);
    transform: scaleY(0.5);
  }
}
.info-login {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 22px;
  color: var(--colorTextTertiary);
}
.nav-btn--login {
  width: 100%;
  min-width: 168px;
  min-height: 48px;
  font-size: 1.8rem;
  line-height: 25px;
  font-weight: 600;
  margin-top: 2rem;
  padding: 6px 8px;
  font-family: var(--fontFamilySofiaPro);
  color: var(--colorPrimary);
  border-color: var(--colorPrimary);
  background-color: var(--colorBPrimary);
}