@import 'normalize.css';

@font-face {
  font-family: "SofiaPro";
  src: url('/assets/fonts/sofiapro-bold.woff2')
      format("woff2"),
  url('/assets/fonts/sofiapro-bold.woff')
      format("woff"),
  url('/assets/fonts/sofiapro-bold.otf')
      format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url('/assets/fonts/Proxima-Nova-Regular.woff2')
      format("woff2"),
  url('/assets/fonts/Proxima-Nova-Regular.woff')
      format("woff"),
  url('/assets/fonts/Proxima-Nova-Regular.otf')
      format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url('/assets/fonts/Proxima-Nova-Semibold.woff2')
      format("woff2"),
  url('/assets/fonts/Proxima-Nova-Semibold.woff')
      format("woff"),
  url('/assets/fonts/Proxima-Nova-Semibold.otf')
      format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url('/assets/fonts/Proxima-Nova-Bold.woff2')
      format("woff2"),
  url('/assets/fonts/Proxima-Nova-Bold.woff')
      format("woff"),
  url('/assets/fonts/Proxima-Nova-Bold.otf')
      format("opentype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --fontFamilyHeading: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
  --fontFamilyParagraph: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;

  --fontWeightRegular: 400;
  --fontWeightSemibold: 600;
  --fontWeightBold: 700;

  --fontSizeH1: 96px;
  --fontSizeH2: 72px;
  --fontSizeH3: 56px;
  --fontSizeH4: 48px;
  --fontSizeH5: 32px;
  --fontSizeH6: 24px;
  --fontSizeH7: 18px;

  --fontSizeP1: 24px;
  --fontSizeP2: 18px;
  --fontSizeP3: 16px;
  --fontSizeP4: 14px;
  --fontSizeP5: 12px;
}

:root {
  --colorPrimary: rgba(254, 44, 85, 1);
  --colorLink: rgba(254, 44, 85, 1);
  --colorPrimary2: rgba(22, 24, 35, 1);
  --colorTextPrimary: rgba(22, 24, 35, 1);
  --colorTextSecondary: rgba(22, 24, 35, .75);
  --colorTextTertiary: rgba(22, 24, 35, .5);
  --colorTextQuaternary: rgba(22, 24, 35, .34);
  --colorTextWhite: rgba(255, 255, 255, 1);
  --colorTextWhite2: rgba(255, 255, 255, .9);
  --colorTextWhite3: rgba(255, 255, 255, .75);
  --colorTextWhite4: rgba(255, 255, 255, .5);
  --colorTextWhite5: rgba(255, 255, 255, .34);
  --colorBPrimary: #ffffff;
  --colorBHover: rgba(22, 24, 35, .06);
  --colorBHover2: rgba(22, 24, 35, .03);
  --colorLineAl05: rgba(22, 24, 35, .5);
  --colorLinePrimary: rgba(22, 24, 35, .2);
  --colorLineSecondary: rgba(22, 24, 35, .12);
  --colorDisabled: rgba(22, 24, 35, .5);

  --default-layoutHeaderHeight: 60px;
  --default-layoutWidth: 1150px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: ProximaNova,Arial,Tahoma,PingFangSC,sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
}

button, input, [tabindex] {
  outline: none;
  border: none;
}
a[href] {
  text-decoration: none;
  color: var(--colorTextPrimary);
}

body .tippy-box {
  font-size: 1.6rem;
  line-height: 22px;
  font-weight: 600;
  border-radius: 8px;
  background-color: rgba(84, 84, 84, 0.92);
  .tippy-content {
    padding: 8px
  }
  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }
}
