.wrapper {
  --borderRadiusHeader: 92px;
  --widthSearch: 361px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: var(--default-layoutHeaderHeight);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: var(--default-layoutWidth);
  height: 100%;
  padding-right: 24px;
  padding-left: 24px;
}
.logo {
  display: block;
}

.container-right {
  display: flex;
  align-items: center;
  flex-direction: row;
  .more-icon-btn {
    position: relative;
    margin-left: 16px;
    cursor: pointer;
    padding: 0 4px;
    color: var(--colorPrimary2);
    svg {
      width: 20px;
      height: 20px;
      color: inherit;
    }
  }
  .message--icon span svg, .inbox--icon span svg {
    display: block;
    margin-right: 0;
  }
  .inbox--icon {
    position: relative;
  }
  .badge {
    position: absolute;
    top: -5px;
    left: 50%;
    min-width: 2.6rem;
    height: 1.8rem;
    padding: 0 6px;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;
    color: var(--colorTextWhite);
    background-color: var(--colorPrimary);
  }
  .user-avatar {
    position: relative;
    width: 32px;
    height: 32px;
    margin-left: 24px;
    border-radius: 50%;
  }
}