.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: var(--default-layoutHeaderHeight);
}
.container {
  display: flex;
  align-self: center;
  justify-content: space-between;
  flex: 1 1 auto;
  width: 100%;
  max-width: var(--default-layoutWidth);
}
.content {
  position: relative;
  width: 692px;
  max-width: 692px;
  padding: 24px 0;
  margin: 0 16px;
}