.wrapper {
  display: block;
}
.item-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  max-width: 692px;
  padding: 20px 0;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--colorLinePrimary);
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }
}
.avt-link {
  height: 100%;
  flex: 0 0 auto;
}
.avt-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.styled-avatar {
  width: 56px;
  height: 56px;
}

.content-container {
  width: 624px;
  margin-left: 12px;
  flex: 1 1 624px;
}
.text-info {
  margin-right: 114px;
}
.author-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.author-link {
  display: flex;
  align-items: baseline;
}
.author-title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 25px;
  margin-right: 4px;
  font-family: var(--fontFamilySofiaPro);
}
.author-name {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 25px;
  font-family: var(--fontFamilyProximaNova);
}
.profile-btn {
  position: absolute;
  top: 22px;
  right: 0;
  min-width: 88px;
  min-height: 28px;
  padding: 0 10px;
  font-family: var(--fontFamilyProximaNova);
  background-color: #fff;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.content {
  font-size: 1.6rem;
  line-height: 22px;
}
.content-text {
  font-weight: 400;
}
.common-link {
  display: inline-block;
}
.strong-text {
  font-weight: 600;
}
.h4-music {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 22px;
  margin: 4px 0 12px 0;
  svg {
    margin-right: 5px;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
  }
}

.video-wrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}


.actions-item-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.action-item-btn {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
.span-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-top: 8px;
  margin-bottom: 6px;
  background-color: rgba(22, 24, 35, .06);
}
.action-strong-text {
  font-size: 1.2rem;
  list-style: 1.7rem;
  text-align: center;
  color: var(--colorTextSecondary);
}

@media screen and (max-width: 67.5em) {
  .item-container {
    max-width: 592px;
  }
}

@media screen and (max-width: 47.9375em) {
  .item-container {
    width: calc(100vw - 48px - 62px);
  }
  .author-title,
  .author-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .author-link {
    display: block;
  }
  .span-icon-wrapper {
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 29.9375em) {
  .content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .content-container {
    width: 100%;
    margin-left: 0;
    flex: 0 0 auto;
  }
  .author-container {
    margin-bottom: 12px;
    height: 45px;
  }
  .avt-link {
    display: none;
  }
}