.video-card-container {
  position: relative;
  height: 502px;
  margin-right: 20px;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
}
.video-canvas-placeholder {
  display: block;
  height: 100%;
  visibility: hidden;
}
.video-player-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 24, 35, .06);
  background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-position: center;
}
.img-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.basic-player-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .player-container {
    width: 100%;
    height: 100%;
    video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.video-player-wrapper  {
  &:hover {
    .play-control-wrapper {
      opacity: 1;
    }
    .mute-icon {
      opacity: 1;
    }
    .video-control-wrapper {
      opacity: 1;
    }
    .report-text {
      opacity: 1;
    }
  }
}
.play-control-wrapper {
  position: absolute;
  bottom: 26px;
  left: 12px;
  width: 40px;
  height: 40px;
  padding: 10px;
  opacity: 0;
  transition: opacity .3s;
  -webkit-transition: opacity .3s;
}
.volume-control-wrapper {
  position: absolute;
  right: 12px;
  bottom: 36px;

  --vol-width: 2px;
  --vol-height: 48px;
}
.volume-control {
  position: relative;
  width: 24px;
  height: 64px;
  margin: 8px 7px 0px;
  border-radius: 32px;
  background: rgba(22, 24, 35, .34);
  cursor: initial;
  overflow: hidden;
}
.volume-control-progress {
  position: absolute;
  top: 8px;
  right: 11px;
  bottom: 8px;
  width: var(--vol-width);
  height: var(--vol-height);
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}
.volume-control-circle {
  position: absolute;
  right: 6px;
  bottom: 8px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.volume-control-bar {
  position: absolute;
  right: 11px;
  bottom: 8px;
  width: var(--vol-width);
  height: var(--vol-height);
  background-color: rgb(255, 255, 255);
  transform: scaleY(0);
  transform-origin: center bottom;
  cursor: pointer;
}
.mute-icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  opacity: 0;
  transition: opacity .3s;
  -webkit-transition: opacity .3s;
}
.video-control-wrapper {
  opacity: 0;
  transition: opacity .3s;
  -webkit-transition: opacity .3s;
}
.seek-bar-container {

}
.seek-bar-progress {

}
.seek-bar-circle {

}
.seek-bar-fill {

}
.control-bottom {

}
.report-text {
  position: absolute;
  top: 24px;
  right: 16px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 22px;
  opacity: 0;
  transition: opacity .3s;
  -webkit-transition: opacity .3s;
  svg {
    margin-right: 4px;
    vertical-align: middle;
  }
}

@media screen and (max-width: 47.9375em) {
  .video-card-container {
    width: calc(380px + (100vw - 480px) / 288 * 20)  ;
  }
}

@media screen and (max-width: 29.9375em) {
  .video-card-container {
    width: calc(100vw - 32px - 60px);
    height: auto;
  }
  .video-canvas-placeholder {
    width: 100%;
    height: auto;
  }
}
