.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}
.container {
  display: flex;
  width: var(--default-layoutWidth);
  min-height: 100vh;
}
.content {
  flex: 1;
  min-height: 100vh;
}